Flask
Flask-SQLAlchemy
Flask-Mail
mysql-connector-python
PyMySQL
Werkzeug
Pillow
python-dotenv
gunicorn
bcrypt
cryptography
email-validator
WTForms
Flask-WTF
Flask-Limiter
psycopg2-binary
Flask-SocketIO
python-socketio
simple-websocket
gevent
gevent-websocket
