Flask
Flask-SQLAlchemy
Flask-Mail
mysql-connector-python
PyMySQL
Werkzeug
Pillow
python-dotenv
gunicorn
bcrypt
email-validator
WTForms
Flask-WTF
Flask-Limiter
psycopg2
Flask-SocketIO
python-socketio
simple-websocket
flask_apscheduler
